$color-white-deepmost: #fff;
$color-white-deep: #efefef;
$color-white-common: #eee;
$color-white-shallow: #dedede;
$color-white-shallowmost: #ddd;
$color-white: $color-white-common;

$color-gray-deepmost: #999;
$color-gray-deep: #999;
$color-gray-common: #999;
$color-gray-shallow: #999;
$color-gray-shallowmost: #999;
$color-gray: $color-gray-common;

$color-black-deepmost: #000;
$color-black-deep: #000;
$color-black-common: #000;
$color-black-shallow: #000;
$color-black-shallowmost: #000;
$color-black: $color-black-common;

$color-blue-1: #0666cc;