$min-unit: 4px;
$unit-1: calc(1 * $min-unit);
$unit-2: calc(2 * $min-unit);
$unit-3: calc(3 * $min-unit);
$unit-4: calc(4 * $min-unit);
$unit-5: calc(5 * $min-unit);
$unit-6: calc(6 * $min-unit);
$unit-7: calc(7 * $min-unit);
$unit-8: calc(8 * $min-unit);
$unit-9: calc(9 * $min-unit);
$unit-10: calc(10 * $min-unit);
$unit-11: calc(11 * $min-unit);
$unit-12: calc(12 * $min-unit);

$min-small-unit: 1px;
$small-unit-1: calc(1 * $min-small-unit);
$small-unit-2: calc(2 * $min-small-unit);
$small-unit-3: calc(3 * $min-small-unit);
$small-unit-4: calc(4 * $min-small-unit);
$small-unit-5: calc(5 * $min-small-unit);
$small-unit-6: calc(6 * $min-small-unit);
$small-unit-7: calc(7 * $min-small-unit);
$small-unit-8: calc(8 * $min-small-unit);
$small-unit-9: calc(9 * $min-small-unit);
$small-unit-10: calc(10 * $min-small-unit);
$small-unit-11: calc(11 * $min-small-unit);
$small-unit-12: calc(12 * $min-small-unit);
